<div *ngIf="currentTutorial" class="edit-form">
    <h4>Tutorial Details</h4>
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="currentTutorial.title" name="title"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="currentTutorial.description" name="description"/>
        </div>
        <div class="form-group">
            <strong>Status:</strong>
            {{ currentTutorial.published ? "Published" : "Pending" }}
        </div>
    </form>
    <button class="btn btn-secondary" *ngIf="currentTutorial.published" (click)="updatePublished(false)">Unpublish</button>
    <button class="btn btn-success" *ngIf="!currentTutorial.published" (click)="updatePublished(true)">Publish</button>
    <button class="btn btn-danger" (click)="deleteTutorial()">Delete</button>
    <button class="btn btn-warning" (click)="updateTutorial()" type="submit">Update</button>
    <p>{{ message }}</p>
</div>
<div *ngIf="!currentTutorial">
    <br>
    <p>Can not access this Tutorial</p>
</div>
